<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="~assets/ceedcv.png"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <p class="text-faded">Ejemplo para el modulo DWEC</p>

  </div>
</template>

<script>
export default {
  name: 'AcercaDe'
}
</script>
