<template>
  <q-page >
    <q-list class="layout-padding q-ma-lg">
      <!-- Lista con 2 items, uno para la imagen, otro para la lista de estaciones -->
      <q-item class="justify-center">
        <div class="row">
          <iframe src="https://www.google.com/maps/d/embed?mid=1vDjGF_h1hdwPyWpY34HCObd-6aM" width="640" height="480"></iframe>
        </div>
      </q-item>
    </q-list>
  </q-page>
</template>

<style>
</style>

<script>
// Importamos axios para realizar el Ajax
import axios from "axios";

export default {
  name: "PageIndex",
  // Definimos las variables en Vue
  data() {
    return {
      // URL para obtener datos JSON de ValenBisi
      endpoint: "http://mapas.valencia.es/lanzadera/opendata/Valenbisi/JSON",
      // Array con información de cada uno de las estacione
      estaciones: []
    };
  },
  // Acciones al realizar al acabar de montarse Vue en el componente
  mounted() {
    this.getEstadoValenbisi();
  },
  // Metodos accesibles desde Vue
  methods: {
    // Funcion que mediante axios, obtiene el estado del ValenBisi y rellena el array Estaciones
    getEstadoValenbisi() {
      // Definimos el comportamiento de Axios
      axios.get(this.endpoint)
        .then(response => {
          var x;
          // PAsamos el contenido al array "estaciones"
          for (x in response.data.features) {
            //
            this.estaciones.push(response.data.features[x].properties.name);
          }
        })
        // En caso de error, mostramos el error para facilitar depuración
        .catch(error => {
          console.log("-----error-------");
          console.log(error);
        });
    }
  }
};
</script>
