<template>
  <q-page >
    <!-- Componente Q-list https://quasar-framework.org/components/lists-and-list-items.html -->
    <q-list class="layout-padding q-ma-lg">
      <!-- Lista con 2 items, uno para la imagen, otro para la lista de estaciones -->
      <q-item class="justify-center">
        <img alt="Logo ValenBisi" src="~assets/logoValenBisi.png">
      </q-item>
      <!-- Elemento colapsable con Estaciones ValenBisi -->
      <q-item class="justify-center">
        <!-- Elemento colapsable https://quasar-framework.org/components/collapsible.html -->
        <q-collapsible icon="account_balance" label="Estaciones ValenBisi" opened class="col-lg" >
          <q-list highlight separator >
            <q-list-header>Datos actualizados {{ ultimaActualizacion }}

              <!-- Boton que actualiza los datos de ValenBisi, que se ve como un iconito
              https://quasar-framework.org/components/button.html
              -->
              <q-btn @click="getEstadoValenbisi" icon="update" />
            </q-list-header>
            <q-item>
              <!-- Usamos el componente q-table
              En el definimos:
                - Fuente de datos
                - Como organizamos las columnas
                - Key (campo con valor unico)
                https://quasar-framework.org/components/datatable.html
              -->
              <q-table
                :data="estaciones"
                :columns="columns"
                row-key="nombre"
                 class="col-lg"
              >

              </q-table>
            </q-item>
          </q-list>
        </q-collapsible>
      </q-item>
    </q-list>
  </q-page>
</template>

<style>
</style>

<script>
// Importamos axios para realizar el Ajax
import axios from "axios";

export default {
  name: "PageIndex",
  // Definimos las variables en Vue
  data() {
    return {
      // URL para obtener datos JSON de ValenBisi
      endpoint: "http://mapas.valencia.es/lanzadera/opendata/Valenbisi/JSON",
      // Array con información de cada uno de las estacione
      estaciones: [],
      // Fecha de ultima actualizacion en formato Cadena
      ultimaActualizacion:'',

      // Array que define las columnas de la tabla
      columns: [
      {
        name: 'Nombre',
        required: true,
        label: 'Nombre estación',
        align: 'left',
        field: 'nombre',
        sortable: true,
        //classes: '',
        //style: 'width: 500px'
      },
      {
        name: 'bicis',
        required: true,
        label: 'Bicis disponibles',
        align: 'left',
        field: 'bicis',
        sortable: true,
        //classes: '',
        //style: 'width: 500px'
      },
      {
        name: 'libres',
        required: true,
        label: 'Anclajes libres',
        align: 'left',
        field: 'libres',
        sortable: true,
        //classes: '',
        //style: 'width: 500px'
      },
      {
        name: 'total',
        required: true,
        label: 'Total',
        align: 'left',
        field: 'total',
        sortable: true,
        //classes: '',
        //style: 'width: 500px'
      }
    ]


    };
  },
  // Acciones al realizar al acabar de montarse Vue en el componente
  mounted() {
    this.getEstadoValenbisi();
  },
  // Metodos accesibles desde Vue
  methods: {
    // Funcion que mediante axios, obtiene el estado del ValenBisi y rellena el array Estaciones
    getEstadoValenbisi() {

      // Definimos el comportamiento de Axios
      axios.get(this.endpoint)
        .then(response => {
          console.log("Entro");
          var x;
          // Vaciamos el array
          this.estaciones=[];
          // Pasamos el contenido al array "estaciones"
          for (x in response.data.features) {
            //Formamos el dato
            var dato;

            dato={
              nombre: response.data.features[x].properties.address,
              bicis: response.data.features[x].properties.available,
              libres: response.data.features[x].properties.free,
              total: response.data.features[x].properties.total
            }
            // Lo metemos en un array
            this.estaciones.push(dato);
          }
          // Actualizamos la ultima fecha de actualizacion
          this.ultimaActualizacion=new Date().toLocaleString();

        })
        // En caso de error, mostramos el error para facilitar depuración
        .catch(error => {
          console.log("-----error-------");
          console.log(error);
        });
    }
  }
};
</script>
