<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>
        <!-- Indicamos información de la aplicacion para que se vea en cabecera -->
        <q-toolbar-title>
          <img src="~assets/valenbisiMini.png"/>ValenBisi Checker
          <div slot="subtitle">Aplicación para obtener información de ValenBisi</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
      <!-- Definimos la lista de elementos de la izquierda -->
        <q-list-header>Mi ValenBisi Checker</q-list-header>
        <!-- De cada Item, to indica el destino de la ruta cuando se haga click -->
        <q-item to="/estaciones">
          <q-item-side icon="directions_bike" />
          <q-item-main label="Listado estaciones ValenBisi"/>
        </q-item>
        <q-item to="/carril">
          <q-item-side icon="place" />
          <q-item-main label="Mapa CarrilBici" />
        </q-item>
        <q-item to="/acercade">
          <q-item-side icon="info" />
          <q-item-main label="Acerca de" />
        </q-item>
  
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'LayoutPrincipal',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
