<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Quasar App3
        </q-toolbar-title>
        <q-btn push color="light-blue-10" icon="exit_to_app" label="Salir" />
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Técnico</q-list-header>
        <q-item @click.native="openURL('http://localhost:8080/#/incidencias')">
          <q-item-side icon="chat" />
          <q-item-main label="Incidencias" sublabel="Gestion de incidencias" />
        </q-item>
        <q-item @click.native="openURL('http://localhost:8080/#/tipos')">
          <q-item-side icon="sort" />
          <q-item-main label="Tipos de Incidencia" sublabel="Gestion de Tipos de incidencia" />
        </q-item>
        <q-item @click.native="openURL('http://localhost:8080/#/tecnicos')">
          <q-item-side icon="people" />
          <q-item-main label="Tecnicos" sublabel="Gestion de técnicos" />
        </q-item>
        <q-item @click.native="openURL('http://localhost:8080/#/')">
          <q-item-side icon="exit_to_app" />
          <q-item-main label="Salir" sublabel="Cerrar la sesión" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'LayoutTecnico',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>