<!-- Página que permite visualizar el listado de tipos-->
<template>
  <q-page class="flex-center" >
  <div class="q-ma-lg"> <!-- Indico un (m)argen a (all) todas las dimensiones grande (lg) -->
    <q-item-tile label class="q-mb-md"><strong>Editar INCIDENCIA</strong></q-item-tile>
    <q-datetime v-model="fecha" class="q-mb-md" float-label="Fecha" type="date"/>
    <q-radio v-model="option" name="m" val="M" label="Mañana"/>
    <q-radio v-model="option" name="t" val="T" label="Tarde"/>
    <q-select
      class="q-mb-md"
      float-label="Horario"
      v-model="selectH"
      :options="selectHorario"
    />
    <q-input v-model="aula" class="q-mb-md" float-label="Aula" @blur="comprobarHabilitarBoton()"/>
    <q-select
      class="q-mb-md"
      float-label="Tipo de incidencia"
      v-model="selectTI"
      :options="opcionesTipos"
      @input="comprobarHabilitarBoton()"
    />
    <q-input v-model="profesor" class="q-mb-md" float-label="Profesor" @blur="comprobarHabilitarBoton()"/>
    <q-input v-model="email" class="q-mb-md" float-label="Email" @blur="comprobarHabilitarBoton()"/>
    <q-input v-model="departamento" class="q-mb-md" float-label="Departamento"/>
    <q-input v-model="observaciones" class="q-mb-md" inverted color="secondary" rows="4" stack-label="Observaciones" type="textarea"/>
    <q-btn color="secondary" class="q-mb-md" icon="save" label="Enviar" size='sm' :disabled='this.desactivado' @click="submit()"/>
    </div>
  </q-page>
</template>

<script>

import axios from 'axios'

export default {
  data () {
    return {
      endpoint: 'http://localhost:8081/nuevaincidencia',
      endpoint1: 'http://localhost:8081/tipos',
      endpoint2: 'http://localhost:8081/incidencias',
      fecha: new Date(),
      option: true,
      aula: '',
      profesor: '',
      email: '',
      departamento: '',
      observaciones: '',
      opcionesTipos: [],
      arrayProvisional: [],
      desactivado: true,
      selectH: 0,
      selectTI: 0,
      selectHorario: [
        { label: '1ª hora', value: '1' },
        { label: '2ª hora', value: '2' },
        { label: '3ª hora', value: '3' },
        { label: '4ª hora', value: '4' },
        { label: '5ª hora', value: '5' },
        { label: '6ª hora', value: '6' }
      ]
    }
  },
  created () {
    this.getAllTipos()
  },
  methods: {
    // Recoge los datos de las áreas de un tipo para mostrarlos en el desplegable
    getAllTipos () {
      axios.get(this.endpoint1)
        .then(response => {
          this.arrayProvisional = response.data
          for (var i = 0; i < this.arrayProvisional.length; i++) {
            this.opcionesTipos.push({ 'label': this.arrayProvisional[i].tipo, 'value': this.arrayProvisional[i].idtipo.toString() })
          }
        })
        .catch(error => {
          console.log('Error en Editar incidencia  -> getAllTipos()')
          console.log(error)
        })
    },
    comprobarHabilitarBoton () {
      if (this.selectTI !== 0 && this.aula !== '' && this.profesor !== '' && this.email !== '') {
        this.desactivado = false
      }
    },
    // Botón que recoge los datos del formulario y los guarda en la base de datos
    submit () {
      axios.post(this.endpoint2, {
        fecha: this.fecha,
        horario: this.juntarHorario(),
        aula: this.aula,
        tipoIncidencia: this.selectTI,
        profesor: this.profesor,
        email: this.email,
        departamento: this.departamento,
        observaciones: this.observaciones
      })
        .then(response => {
          if (response.data.codigo === 0) {
            this.$q.notify({
              type: 'positive',
              message: 'Inserción correcta',
              position: 'center'
            })
          } else if (response.data.codigo === 1) {
            this.$q.notify({
              type: 'negative',
              message: 'Inserción errónea'
            })
          }
        })
      this.limpiarFormulario()
    },
    // Restaura el formulario dejándolo vacío
    limpiarFormulario () {
      this.option = true
      this.aula = ''
      this.profesor = ''
      this.email = ''
      this.departamento = ''
      this.observaciones = ''
      this.selectH = 0
      this.selectTI = 0
    },
    juntarHorario () {
      var cadena = this.selectH + this.option
      return cadena
    }
  }
}
</script>