<!-- Página que permite visualizar el listado de tipos-->
<template>
  <q-page class='flex-center'>
    <div class='q-ma-lg'>
      <!-- Indico un (m)argen a (all) todas las dimensiones grande (lg) -->
      <q-item-tile label class='q-mb-md'>
        <strong>Lista de incidencias</strong>
      </q-item-tile>
      <q-btn color="primary" icon="add" label="Nueva incidencia" size='m' to="/tecnico/nuevaIncidencia"/><br/><br/>
       <q-table
        title="Incidencias"
        :data="tableData"
        :columns="columns"
        row-key="name"
        >
        <tr slot='body' slot-scope='props' :props='props'>
          <td>
          <q-btn size="m" round dense color="primary" icon="edit" @click="editar(props.row.idtipo)" class="q-mr-sm" />
        </td>
        <td>
          <q-btn size="m" round dense color="negative" icon="delete" @click="borrar(props.row.idtipo, props.row.tipo, props.row)" class="q-mr-sm" />
          </td>
          <td key="fecha" :props="props">{{ cambiarFecha(props.row.fecha )}}</td>
          <td key="hora" :props="props">{{ props.row.hora }}</td>
          <td key="aula" :props="props">{{ props.row.aula }}</td>
          <td key="idtipo" :props="props">{{ props.row.idtipo }}</td>
          <td key="codequipo" :props="props">{{ props.row.codequipo }}</td>
          <td key="observaciones" :props="props">{{ props.row.observaciones }}</td>
          <td key="profesor" :props="props">{{ props.row.profesor }}</td>
          <td key="departamento" :props="props">{{ props.row.departamento }}</td>
          <td key="email" :props="props">{{ props.row.email }}</td>  
        </tr>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      endpoint: "http://localhost:8081/incidencias",
      columns: [
        {
          name: "bodificar",
          required: true,
          label: "Modificar",
          align: "left",
          field: "modificar",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"

        },
        {
          name: "borrar",
          required: true,
          label: "Borrar",
          align: "left",
          field: "borrar",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"

        },
        {
          name: "fecha",
          required: true,
          label: "Fecha",
          align: "left",
          field: "fecha",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "hora",
          required: true,
          label: "Hora",
          align: "left",
          field: "hora",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "aula",
          required: true,
          label: "Aula",
          align: "left",
          field: "aula",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "idtipo",
          required: true,
          label: "Tipo",
          align: "left",
          field: "idtipo",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "codequipo",
          required: true,
          label: "Equipo",
          align: "left",
          field: "codequipo",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "observaciones",
          required: true,
          label: "Observaciones",
          align: "left",
          field: "observaciones",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "profesor",
          required: true,
          label: "Profesor",
          align: "left",
          field: "profesor",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "departamento",
          required: true,
          label: "Departamento",
          align: "left",
          field: "departamento",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "email",
          required: true,
          label: "Email",
          align: "left",
          field: "email",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        }
      ],
      tableData: []
    };
  },
  created() {
    this.getAllIncidencias();
  },
  methods: {
    // Recoge los datos de las áreas de un tipo para mostrarlos en el desplegable
    getAllIncidencias() {
      axios
        .get(this.endpoint)
        .then(response => {
          this.tableData = response.data;
        })
        .catch(error => {
          console.log('Error en Tipos  -> getAllIncidencias()');
          console.log(error);
        });
    },
    cambiarFecha(fecha){
      var anio = new Date(fecha).getFullYear();
      var mes = parseInt(new Date(fecha).getMonth()+1);
      var dia =   parseInt(new Date(fecha).getDate());
      return (dia+'/'+mes+'/'+anio);

    },
    // Guarda el identificador del área y redirige a la página de edición
     editar (idincidencia) {
      this.$store.idincidencia = idincidencia
      this.$router.replace('/incidencias/editar')
    }, 

    // Guarda el identificador del área y redirige a la página de borrado
     borrar (idincidencia, incidencias, row) {
      this.$q.dialog({
        title: 'Confirmar borrado',
        message: 'Vas a eliminar la incidencia "' + incidencias + '", ¿estás seguro/a?',
        ok: 'Aceptar',
        cancel: 'Cancelar'
      }).then(() => {
        axios.delete(this.endpoint2 + idincidencia)
          .then(response => {
            if (response.data.status === 1) {
              this.$q.notify({
                type: 'positive',
                message: 'Incidencia ' + incidencia + ' eliminada',
                position: 'center'
              })
              this.tableData.splice(row.__index, 1) // row.__index hace referencia al índice en la tabla
            } else if (response.data.status === 0) {
              this.$q.notify({
                type: 'info',
                message: 'Incidencia ' + incidencia + ' no eliminada',
                position: 'center'
              })
            }
          })
          .catch(error => {
            console.log('Error en AdministrarListaIncidencias -> borrar()')
            console.log(error)
          })
      }).catch(() => {
        this.$q.notify({
          type: 'info',
          message: 'No se ha eliminado la incidencia'
        })
      })
    } 
  }
};
</script>
