<template>
  <div class="column items-center shadow-2 container">
    <div id="titulos" class="subcontainer">
      <div class="text-primary q-headline text-center">Login</div>
      <div class="text-seconady q-title text-center">Bienvenido a la aplicacion de incidencias</div>
    </div>

    <div class="subcontainer">
      <q-input
        v-model="tecnico"
        float-label="Usuario"
        placeholder="Usuario"
        class="q-mt-sm"/>

      <q-input
        v-model="password"
        type="password"
        float-label="Contraseña"
        placeholder="Contraseña"
        class="q-mt-sm"/>

      <div id="error" class="text-red">{{error}}</div>

      <q-btn
        color="primary"
        size="md"
        label="Entrar"
        class="q-mt-md float-right"
        v-on:click="submit"
      />
    </div>
  </div>
</template>

<style>
  .container {
    margin: 10em auto 0 auto;
    padding: 0 1em;
    max-width: 50em;
    min-width: 20em;
  }
  .subcontainer {
    margin: 1em 0 1em 0;
    width: calc(100% - 2em);
  }
</style>

<script>
import axios from 'axios'


export default {
  data () {
    return {
      endpoint: this.$url + '/tecnico',
      tecnico: '',
      password: '',
      error: ''
    }
  },
  methods: {
    submit () {
      axios.post(this.endpoint, {
        tecnico: this.tecnico,
        password: this.password
      })
        .then(res => {          
          if (res.data.codigo == 0) {
            window.location.href = this.$urlLocal + '/#/tecnico/incidencias'
          }
          this.error = res.data.mensaje
        })
        .catch(res => {
          this.error = 'Error del sistema' + res
        })
    }
  }
}
</script>
