<!-- Página que permite crear un nuevo área a un usuario Administrador-->
<template>
  <q-page class="flex-center on-right on-left">
      <div class="q-ma-lg"> <!-- Indico un (m)argen a (all) todas las dimensiones grande (lg) -->
    <q-item-tile label class="q-mb-md"><strong>Nuevo registro de técnico</strong></q-item-tile>
     <q-input
      v-model="tecnico"
      float-label="Nombre"
      placeholder="Introduzca aquí su nombre"

    />
    <q-input
      type="password"
      v-model="password"
      float-label="Contraseña"
      placeholder="Introduzca aquí su contraseña"

    />
    <q-input
      type="password"
      v-model="rpassword"
      float-label="Contraseña"
      placeholder="Introduzca aquí de nuevo su contraseña"

    />
    <br/>
    <q-btn color="primary" label='Guardar' v-on:click="submit">
      <!-- Para elegir otro spinner, tengo que cargar en quasar.conf.js el que sea -->
      <q-spinner-dots slot="loading" />
    </q-btn>
    <div id="error">{{error}}</div>
    </div>
  </q-page>
</template>

<script>

import axios from 'axios'

export default {
  data () {
    return {
      endpoint: 'http://localhost:8081/tecnicos',
      tecnico: '',
      password: '',
      rpassword: '',
      error: ''
    }
  },
  methods: {
    submit () {
      if (this.password === this.rpassword) {
        axios.post(this.endpoint, {
          tecnico: this.tecnico,
          password: this.password
        })
          .then(res => {
            this.error = res.data.mensaje
          })
          .catch(() => console.log('error'))
      }
    }
  }
}
</script>
