<!-- Página que permite crear un nuevo área a un usuario Administrador-->
<template>
  <q-page class="flex-center on-right on-left">
      <div class="q-ma-lg"> <!-- Indico un (m)argen a (all) todas las dimensiones grande (lg) -->
    <q-item-tile label class="q-mb-md"><strong>Nuevo Tipo</strong></q-item-tile>
     <q-input
      v-model="tipo"
      float-label="Nombre"
      placeholder="Introduzca aquí el nuevo Tipo"
    />
    <div id="error">{{error}}</div>
    <br/>
    <q-btn color="primary" label='Guardar' v-on:click="submit">
      <!-- Para elegir otro spinner, tengo que cargar en quasar.conf.js el que sea -->
      <q-spinner-dots slot="loading" />
    </q-btn>
    </div>
  </q-page>
</template>

<style>
  .container {
    margin: 10em auto 0 auto;
    padding: 0 1em;
    max-width: 50em;
    min-width: 20em;
  }
  .subcontainer {
    margin: 1em 0 1em 0;
    width: calc(100% - 2em);
  }
</style>

<script>

import axios from 'axios'

export default {
  data () {
    return {
      endpoint: 'http://localhost:8081/tipo',
      tipo: '',
      error: ''
    }
  },
  methods: {
    submit () {
      axios.post(this.endpoint, {
        tipo: this.tipo
      })
        .then(res => {
            this.error = res.data.mensaje
        })
        .catch(() => console.log('error'))
    }
  }
}
</script>
