<!-- Página que permite editar un evento a un Editor -->
<template>
  <q-page class="flex-center on-right on-left">
    <div class="q-ma-lg"> <!-- Indico un (m)argen a (all) todas las dimensiones grande (lg) -->
    <q-item-tile label class="q-mb-md"><strong>Seguimiento de incidencia</strong></q-item-tile>
    <q-input
      v-model="form.titulo"
      float-label="Titulo"
    />
    <br/>
    <q-input
      v-model="form.descripcion"
      float-label="Descripcion"
      type="textarea"
    />
    <q-select
      float-label='Tipo de área'
      v-model="form.selectTipos"
      :options="form.opcionesTipos"
    />
    <q-select
      v-show="form.selectAreasVisible"
      float-label='Área'
      v-model="form.selectAreas"
      :options="form.opcionesAreas"
    />
    <q-datetime v-model="form.fechaini" type="date" float-label="Fecha de inicio"/>
    <q-datetime v-model="form.fechaini" type="date" float-label="Fecha de fin"/>
    <q-input
      v-model="form.hora"
      float-label="Hora"
      @keyup="comprobarHabilitarBoton"
      placeholder="Introduzca aquí la hora o rango de horas del evento"
    />
    <q-btn color="primary" @click="simulateSubmit" :loading="this.form.grabando" label='Guardar' :disabled='this.form.desactivado'>
      <!-- Para elegir otro spinner, tengo que cargar en quasar.conf.js el que sea -->
      <q-spinner-dots slot="loading" />
    </q-btn>
    <br/><br/>
    </div>
  </q-page>
</template>

<script>

import axios from 'axios'

export default{
  data () {
    return {
      form: {
        fecha: '',
        hora: '',
        aula: '',
        tipo: '',
        observaciones: '',
        profesor: '',
        departamento: '',
        email: '',
        codequipo: ''
        /* selectTipos: 0, // Selección por defecto del select
        selectAreas: 0, // Selección por defecto del select
        selectTiposSlug: '',
        opcionesTipos: [],
        opcionesAreas: [],
        selectAreasVisible: true,
        fechaini: new Date(), // Hoy
        fechafin: new Date(), // Hoy
        grabando: false,
        desactivado: true,
        alertaVisible: false,
        alertaType: 'negative',
        alertaMensaje: 'Inserción errónea' */
      },
      endpoint: 'http://' + this.$url + '/incidencia/',
    }
  },
  created () {
    this.cargarDatos() // Lo cargamos primero para que se carguen los datos de los select
    this.guardarAreasEditables()
    this.guardarTiposAreasEditables()
    this.getAllTipos()
    // this.getAllAreas() // Lo llamo desde getTipoId(), que a su vez se llama desde getAllTipos
  },
  methods: {

    // Carga los datos del registro en el formulario
    cargarDatos () {
      axios.get(this.endpoint7 + this.$store.idevento)
        .then(response => {
          this.form.titulo = response.data[0].titulo
          this.form.descripcion = response.data[0].descripcion
          this.form.fechaini = response.data[0].fechaini
          this.form.fechafin = response.data[0].fechafin
          this.form.hora = response.data[0].hora
          this.form.selectTipos = response.data[0].idtipo.toString()
          this.form.selectAreas = response.data[0].idarea.toString()
        })
        .catch(error => {
          console.log('Error en EditorEditarEventos -> cargarDatos()')
          console.log(error)
        })
    },

    // Guarda en un array todas las áreas que puede editar el usuario
    guardarAreasEditables () {
      axios.get(this.endpoint5 + '/' + localStorage.getItem('idusuario'))
        .then(response => {
          this.arrayProvisionalAreasEditables = response.data
          for (var i = 0; i < this.arrayProvisionalAreasEditables.length; i++) {
            // Guardo .toString() para que al utilizar el isInArray me funcione porque trabaja con cadenas
            this.areasQuePuedeEditar.push(this.arrayProvisionalAreasEditables[i].idarea.toString())
          }
        })
        .catch(error => {
          console.log('Error en EditorEditarEvento -> guardarAreasEditables()')
          console.log(error)
        })
    },

    // Guarda en un array todos los tipos de áreas que puede editar el usuario
    guardarTiposAreasEditables () {
      axios.get(this.endpoint6 + '/' + localStorage.getItem('idusuario'))
        .then(response => {
          this.arrayProvisionalTiposAreasEditables = response.data
          for (var i = 0; i < this.arrayProvisionalTiposAreasEditables.length; i++) {
            // Guardo .toString() para que al utilizar el isInArray me funcione porque trabaja con cadenas
            this.tiposAreasQuePuedeEditar.push(this.arrayProvisionalTiposAreasEditables[i].idtipo.toString())
          }
        })
        .catch(error => {
          console.log('Error en EditorEditarEventos -> guardarTiposAreasEditables()')
          console.log(error)
        })
    },

    // Recoge los datos de los tipos de área para mostrarlos en el desplegable
    getAllTipos () {
      axios.get(this.endpoint2)
        .then(response => {
          this.arrayProvisional = response.data
          this.form.opcionesTipos.push({'label': 'Elige un tipo de área', 'value': 0, 'slug': 'Elige'})
          for (var i = 0; i < this.arrayProvisional.length; i++) {
            if (this.$isInArray(this.tiposAreasQuePuedeEditar, this.arrayProvisional[i].idtipo)) {
              this.form.opcionesTipos.push({'label': this.arrayProvisional[i].tipo, 'value': this.arrayProvisional[i].idtipo.toString(), 'slug': this.arrayProvisional[i].slug})
            }
          }
          this.getTipoId() // Llamo a esta función para que se muestre únicamente las áreas del tipo seleccionado
        })
        .catch(error => {
          console.log('Error en EditorEditarEventos -> getAllTipos()')
          console.log(error)
        })
    },

    // Recoge los datos de las áreas de un tipo para mostrarlos en el desplegable
    getAllAreas () {
      this.form.opcionesAreas = []
      this.form.arrayProvisional = []
      axios.get(this.endpoint3 + this.form.selectTiposSlug)
        .then(response => {
          this.arrayProvisional = response.data
          this.form.opcionesAreas.push({'label': 'Elige un área', 'value': 0, 'slug': 'Elige'})
          for (var i = 0; i < this.arrayProvisional.length; i++) {
            if (this.$isInArray(this.areasQuePuedeEditar, this.arrayProvisional[i].idarea)) {
              this.form.opcionesAreas.push({'label': this.arrayProvisional[i].area, 'value': this.arrayProvisional[i].idarea.toString()})
            }
          }
          this.form.selectAreasVisible = true
        })
        .catch(error => {
          console.log('Error en EditorEditarEventos -> getAllAreas()')
          console.log(error)
        })
    },

    // Necesario para que cambie el desplegable de áreas según el tipo
    // Si el usuario quita el tipo por alguna razón (pone a 0) desaparece el select de Areas
    getTipoId () {
      if (this.form.selectTipos === 0) {
        this.form.selectAreasVisible = false
        this.form.selectAreas = 0
      } else {
        axios.get(this.endpoint4 + this.form.selectTipos)
          .then(response => {
            // Necesito el slug y no el id porque el endpoint lleva slug en lugar de número
            this.form.selectTiposSlug = response.data[0].slug
            this.getAllAreas()
          })
          .catch(error => {
            console.log('Error en EditorEditarEventos -> getTipoId()')
            console.log(error)
          })
      }
    },

    // Comprueba si los datos obligatorios están introducidos en el formulario y en ese caso activa el botón Guardar
    comprobarHabilitarBoton () {
      if (this.form.selectAreas !== 0 && this.form.titulo !== '') {
        this.form.desactivado = false
      } else this.form.desactivado = true
    },

    // Simula un retardo de 2 segundos para que no se pulse varias veces "submit" seguidos sin querer
    simulateSubmit () {
      this.form.grabando = true
      setTimeout(() => {
        this.form.grabando = false
        this.submit()
      }, 2000)
    },

    // Envía el formulario para insertar el valor en la base de datos
    submit () {
      var anio = new Date(this.form.fechaini).getFullYear()
      var mes = parseInt(new Date(this.form.fechaini).getMonth()) + 1
      var dia = parseInt(new Date(this.form.fechaini).getDate())
      var fechaProvisionalIni = anio + '-' + mes + '-' + dia
      anio = new Date(this.form.fechafin).getFullYear()
      mes = parseInt(new Date(this.form.fechafin).getMonth()) + 1
      dia = parseInt(new Date(this.form.fechafin).getDate())
      var fechaProvisionalFin = anio + '-' + mes + '-' + dia
      axios.post(this.endpoint7, {
        idevento: this.$store.idevento,
        titulo: this.form.titulo.replace(/"/g, '\''), // La /g es para que se cambie en todas las ocurrencias del caracter
        descripcion: this.form.descripcion.replace(/"/g, '\''),
        idarea: this.form.selectAreas,
        idusuario: this.form.idusuario,
        fechaini: fechaProvisionalIni,
        fechafin: fechaProvisionalFin,
        hora: this.form.hora.replace(/"/g, '\''),
        obligatorio: this.form.obligatorio // ELIMINAR EL CAMPO OBLIGATORIO EN LA BASE DE DATOS
      })
        .then(response => {
          if (response.data.status === 1) {
            this.$q.notify({
              type: 'positive',
              message: 'Modificación correcta',
              position: 'center',
              timeout: 2000
            })
          } else if (response.data.status === 0) {
            this.$q.notify({
              type: 'negative',
              message: 'Modificación errónea',
              position: 'center',
              timeout: 2000
            })
          }
          this.$router.replace('/editor/listaEventos')
        })
        .catch(error => {
          console.log('Error en EditorEditarEventos -> submit()')
          console.log(error)
        })
    }
  }
}
</script>