<!-- Página que permite visualizar el listado de tipos-->
<template>
  <q-page class="flex-center" >
  <div class="q-ma-lg"> <!-- Indico un (m)argen a (all) todas las dimensiones grande (lg) -->
    <q-item-tile label class="q-mb-md"><strong>Lista de tipos</strong></q-item-tile>
    <!-- q-btn color="primary" icon="add" label="Nuevo tipo" size='sm' to="/administrador/nuevoArea"/><br/><br/-->
    <q-table
        title="Tipos"
        :data="tableData"
        :columns="columns"
        row-key="name"
    >
    <tr slot="body" slot-scope="props" :props="props">
        <!-- td>
          <q-btn size="sm" round dense color="secondary" icon="edit" @click="editar(props.row.idtipo)" class="q-mr-sm" />
        </td>
        <td>
          <q-btn size="sm" round dense color="primary" icon="delete" @click="borrar(props.row.idtipo, props.row.tipo, props.row)" class="q-mr-sm" />
        </td -->
        <td key="idtipo" :props="props">{{ props.row.idtipo }}</td>
        <td key="tipo" :props="props">{{ props.row.tipo }}</td>
      </tr>
    </q-table>
    </div>
  </q-page>
</template>

<script>

import axios from 'axios'

export default {
  data () {
    return {
      endpoint: 'http://localhost:8081/tipos',
      columns: [
        /* {
          name: 'editar',
          required: true,
          label: 'Editar',
          align: 'left',
          sortable: false,
          classes: 'my-class',
          style: 'width: 50px'
        },
        {
          name: 'borrar',
          required: true,
          label: 'Borrar',
          align: 'left',
          sortable: false,
          classes: 'my-class',
          style: 'width: 50px'
        }, */
        {
          name: 'desc', // Usado para la row-key
          required: true, // En caso de que se puedan ocultar columnas, esta es visible
          label: 'Id.', // Texto de cabecera
          field: 'idtipo', // Propiedad del objeto para determinar el valor de la columna
          sortable: true, // Ordenable
          align: 'left', // Alineación
          classes: 'my-class',
          style: 'width: 500px'
        },
        {
          name: 'tipo',
          required: true,
          label: 'Tipo',
          align: 'left',
          field: 'tipo',
          sortable: true,
          classes: 'my-class',
          style: 'width: 500px'
        }
      ],
      tableData: []
    }
  },
  created () {
    this.getAllTipos()
  },
  methods: {
    // Recoge los datos de las áreas de un tipo para mostrarlos en el desplegable
    getAllTipos () {
      axios.get(this.endpoint)
        .then(response => {
          this.tableData = response.data
        })
        .catch(error => {
          console.log('Error en Tipos  -> getAllTipos()')
          console.log(error)
        })
    }
    // Guarda el identificador del área y redirige a la página de edición
    /* editar (idarea) {
      this.$store.idarea = idarea
      this.$router.replace('/administrador/editarArea')
    }, */

    // Guarda el identificador del área y redirige a la página de borrado
    /* borrar (idarea, area, row) {
      this.$q.dialog({
        title: 'Confirmar borrado',
        message: 'Vas a eliminar el área "' + area + '", ¿estás seguro/a?',
        ok: 'Aceptar',
        cancel: 'Cancelar'
      }).then(() => {
        axios.delete(this.endpoint2 + idarea)
          .then(response => {
            if (response.data.status === 1) {
              this.$q.notify({
                type: 'positive',
                message: 'Area ' + area + ' eliminada',
                position: 'center'
              })
              this.tableData.splice(row.__index, 1) // row.__index hace referencia al índice en la tabla
            } else if (response.data.status === 0) {
              this.$q.notify({
                type: 'info',
                message: 'Area ' + area + ' no eliminada',
                position: 'center'
              })
            }
          })
          .catch(error => {
            console.log('Error en AdministrarListaAreas -> borrar()')
            console.log(error)
          })
      }).catch(() => {
        this.$q.notify({
          type: 'info',
          message: 'No se ha eliminado el área'
        })
      })
    } */
  }
}
</script>
